$mainColor: #fdd36b;
$primaryColor: #ffffff;
$greyColor: #dddddd;

img {
  width:100px;
}

.bg-body-tertiary {
  background-color: black !important
}
li {
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
  a {
    color: #fff;
    text-decoration: none;
    height: 100%;
    transition: ease-in-out 250ms color;
    &:hover {
      color: $mainColor;
    }
  }
  .active {
    color: $mainColor;
  }
}
@media (max-width: 768px) {
  .bg-body-tertiary {
    background-color: black !important;
  }
}
