$mainColor: #703807;
$primaryColor: #ffffff;
$greyColor: #fff;

.logo{
  width: 100px;
  height: 100px;
}
.bg-body-tertiary {
  background-color: transparent !important;
}
li {
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
  a {
    color: #fff;
    text-decoration: none;
    height: 100%;
    transition: ease-in-out 250ms color;
    &:hover {
      color: $mainColor;
    }
  }
  .active {
    color: $mainColor;
  }
}
@media (max-width: 768px) {
  .bg-body-tertiary {
    background-color: black !important;
  }
}
