<div class="card">
  <div class="img5">
    <img
      src="assets/images/download/imgs4.png"
      class="img55 img-fluid rounded-start"
      alt="..."
    />
  </div>
  <div class="card-body">
    <div class="title">
      <h1 class="title2 card-title">ازاي تستخدم الإيوان</h1>
      <p class="title3 card-text">
        في خطوات سهلة وبسيطة تقدر تنشئ مشاريعك الهندسية
      </p>
    </div>
    <div class="icons1 i1">
      <div><img class="icon2" src="assets/images/download/imgs5.png" /></div>
      <div class="i">
        <p class="p">نزل الابلكيشن</p>
        <p class="p2">
          لتحميل أبليكيشن الايوان ادخل على جوجل بلاي ستور، أبل أب ستور.
        </p>
      </div>
    </div>
    <div class="icons1 i1">
      <div><img class="icon2" src="assets/images/download/imgs6.png" /></div>
      <div class="i">
        <p class="p">تسجيل وإنشاء حساب</p>
        <p class="p2">
          قم بفتح ابلكيشن الايوان واتبع الخطوات لتسجيل حساب جديد.
        </p>
      </div>
    </div>
    <div class="icons1 i1 i11">
      <div><img class="icon2" src=" assets/images/download/imgs7.png" /></div>

      <div class="i">
        <p class="p">اكتشف خدماتنا</p>
        <p class="p2">اختار من خدمات إنشاء مشروع ، الاشراف وغيرها من الخدمات</p>
      </div>
    </div>
      <div class="pic_btn ">


        <a class="color1" href="https://play.google.com/store/apps/details?id=com.compp.alawan.app"
          target="_self">
          <img class="pic2" src=" assets/images/download/imgs9.png ">
        </a>


        <a class="color1" href="https://apps.apple.com/eg/app/%D8%A7%D9%84%D8%A5%D9%8A%D9%88%D8%A7%D9%86-%D9%84%D9%84%D8%AE%D8%AF%D9%85%D8%A7%D8%AA-%D8%A7%D9%84%D9%87%D9%86%D8%AF%D8%B3%D9%8A%D9%87/id6446060256"
          target="_self">
          <img class="pic3" src="assets/images/download/imgs8.png ">
        </a>
    </div>
  </div>
</div>
