<div class="card">
  <div class="img5">
    <img
      src="assets/images/download/imgs4.png"
      class="img55 img-fluid rounded-start"
      alt="..."
    />
  </div>
  <div class="card-body">
    <div class="title">
      <h1 class="title2 card-title">ازاي تستخدم الإيوان</h1>
      <p class="title3 card-text">
        في خطوات سهلة وبسيطة تقدر تنشئ مشاريعك الهندسية
      </p>
    </div>
    <div class="icons1 i1">
      <div><img class="icon2" src="assets/images/download/imgs5.png" /></div>
      <div class="i">
        <p class="p">نزل الابلكيشن</p>
        <p class="p2">
          لتحميل أبليكيشن الايوان ادخل على جوجل بلاي ستور، أبل أب ستور.
        </p>
      </div>
    </div>
    <div class="icons1 i1">
      <div><img class="icon2" src="assets/images/download/imgs6.png" /></div>
      <div class="i">
        <p class="p">تسجيل وإنشاء حساب</p>
        <p class="p2">
          قم بفتح ابلكيشن الايوان واتبع الخطوات لتسجيل حساب جديد.
        </p>
      </div>
    </div>
    <div class="icons1 i1 i11">
      <div><img class="icon2" src=" assets/images/download/imgs7.png" /></div>

      <div class="i">
        <p class="p">اكتشف خدماتنا</p>
        <p class="p2">اختار من خدمات إنشاء مشروع ، الاشراف وغيرها من الخدمات</p>
      </div>
    </div>
      <div class="pic_btn ">


          <img class="pic2" src=" assets/images/download/imgs9.png ">
     

          <img class="pic3" src="assets/images/download/imgs8.png ">

    </div>
  </div>
</div>
