<div class="img2 "> <img class="img22  " src="assets/images/contactus/imgg.png">
  <div class=" texttt container">
    <div class="txt1">
        <h2 class="text-light text1">تواصل معنا</h2>
    </div>

</div>
</div>
<div class="contactus">
  <h3>معلومات التواصل</h3>
  <div class="items">
      <div class="item">
        <div class="ritem" dir="rtl">
          المهندس المسؤول جوال\واتساب
                    </div>
       <div class="litem">
        0543000416

      </div>
      </div>
      <div class="item">
        <div class="ritem" dir="rtl">
          البريد الإلكتروني
      </div>
          <div class="litem">
            info@qimma.ugetic.com                </div>
      </div>
      <div class="item" >
        <div class="ritem" dir="ltr">
          مواعيد العمل
        </div>
        <div class="litem">
            <div class="date">من السبت الي الخميس</div>
            <div class="time">من 9:00 صباحا الي 5:00 مساء</div>
        </div>
      </div>
      <div class="item">
        <div class="ritem" dir="rtl">
          للشكاوي و المقترحات جوال\واتساب
      </div>
          <div class="litem">
            0543000416

          </div>
      </div>
  </div>
</div>

