/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,800&family=Readex+Pro:wght@200;300;400;500;600&display=swap");
body {
  background: #4e4848;

  font-family: "Tajawal", sans-serif;
  font-family: "El Messiri", sans-serif;
}
